@model CalculatorViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    @Html.ValidationSummary()
    <input asp-for="LeftOperand"/>
    <div>
        @foreach (var modelOperator in Model.Operators)
        {
            <input asp-for="SelectedOperator" type="radio" value="@modelOperator"/>
            @modelOperator
        }
    </div>
    <input asp-for="RightOperand"/>
    <input type="submit"/>
</form>
<p>result of previous operation: <b>@Model.Result</b></p>